<app-header></app-header>
<div class="row">
  <div class="col-md-2">
    <app-nav></app-nav>
  </div>
  <div class="col-md-0 text-left">
    <br><br>
    <div class="container">
      <div class="alert alert-light" role="alert">
        <h3><i class="fas fa-clinic-medical"></i> Finance Details</h3>
      </div>
    </div>
    <br>
    <div class="img">
    
      <img class="img1" src = {{myimage}} width="1000" height="400">
    
    </div>
    <br>
    <div class="row">
      <button (click)="handleImcomes()" class="btn btn-success"> Incomes Details</button>&nbsp;
      <button (click)="handleExpenses()"  class="btn btn-success" >Expenses Details</button>
      <br>
    </div>
    
  
    


  </div>
</div>