h2{
    color: #222222;
  }
  i{
    font-size: 30px;
  }
  .search-container{
    margin-left: 500px;
    
  }
  /* tbody tr:hover {
      background-color: rgb(28, 3, 56);
      color: azure;
} */
  thead{
      background-color: #c1edf3;
  }
  .btnExport{
    margin-left: 700px;
    margin-top: 100px;
    background-color: rgb(8, 153, 28);
    color: white;
    height: 30px;
    border-radius: 5px;
  }
  .btnExport:hover{
    background-color: rgb(31, 184, 51);
  }
 
  .alert-light{
      height: 70px;
  }
 
  .active-cyan-4 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
 .table{
     margin-top: 30px;
 }

  .fa{
    color: #4dd0e1;
    
  }

  .active-cyan-4{
    margin-left: 500px;
    margin-bottom: 50px;
    margin-top: -40px;
  }
  i{
    font-weight: 20px;
    font-size: 20px;
    margin-left: 5px;
  }